@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="dark"] {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* 다크 모드 전환 애니메이션 */
/* * {
  transition: background-color 0.3s ease, color 0.3s ease;
} */
